prompt_toolkit==3.0.52
gdown==5.2.1
babel==2.18.0
requests==2.33.1
apsw==3.51.3.0
markdown==3.10.2
opencc-python-reimplemented==0.1.7
pydub==0.25.1
mammoth==1.12.0
numpy==2.2.6
PyGithub==2.9.0
mistralai==2.3.1
openai==2.30.0
groq==1.1.2
packaging==26.0
haversine==2.9.0
xonsh[full]==0.19.9
